<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/gamestyles.css">
    <title>Film Minigame</title>
</head>
<body>
    <h1 class="title">
        Higher or Lower?
        <div id="subtitle">Guess films based on rating:</div>
    </h1>
    <div class="image-wrapper">
        <div class="image-container" id="container1">
            <img class="filmimage" id="film1" src="https://image.tmdb.org/t/p/original/rzRb63TldOKdKydCvWJM8B6EkPM.jpg" alt="film1">
            <div class="overlay-text">Film 1</div>
        </div>
        <div id="or">VS.</div>
        <div class="image-container" id="container2">
            <img class="filmimage" id="film2" src="https://image.tmdb.org/t/p/original/lFx2i2pg1BoaD7grcpGDyHM1eML.jpg" alt="film2">
            <div class="overlay-text">Film 2</div>
        </div>
    </div>
    <div id="score">Score: 0</div>

    <script src="gamescript.js"></script>
</body>
</html>