<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/gamestyles.css">
    <title>Film Minigame</title>
</head>
<body>
    <h1 class="title">
        Higher or Lower?
        <div id="subtitle">Guess films based on rating:</div>
    </h1>
    <div class="image-wrapper">
        <div class="image-container" id="container1">
            <img onclick="guessFilm('film1')" class="highlight-image filmimage" id="film1" src="" alt="film1">
            <div class="bottom-text" id="film1txt">Film 1</div>
        </div>
        <div id="or">VS.</div>
        <div class="image-container" id="container2">
            <img onclick="guessFilm('film2')" class="highlight-image filmimage" id="film2" src="" alt="film2">
            <div class="bottom-text" id="film2txt">Film 2</div>
        </div>
    </div>
    <div class="score-container">
        <div id="high-score">high score: 0</div>
        <div id="score">current score: 0</div>
    </div>

    <script src="../static/gamescript.js">
    </script>
</body>
</html>